<!DOCTYPE html>
<html>

<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'mainapp/css/base.css' %}">
    <title>CRUD Todo App</title>
</head>

<body>
    <nav class="navbar is-dark has-shadow" role="navigation" aria-label="main navigation">
        <div class="navbar-brand ml-2 mr-5">
            <a class="is-size-2 has-text-weight-bold" href="{% url 'homeview' %}">CRUD Todo</a>
            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false"
                data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item is-size-5" href="{% url 'listview' %}">Show Todos</a>
                <a class="navbar-item is-size-5" href="{% url 'createview' %}">Create Todo</a>
            </div>

            {% if user.is_authenticated %}
                <div class="navbar-end">
                    <div class="navbar-item">
                        <b>User:&nbsp;</b>{{ user.username }}
                    </div>
                    <div class="navbar-item">
                        <form style="display: inline;" method="post" action="{% url 'logoutview' %}">
                            {% csrf_token %}
                            <a class="button" href="#" onclick="this.parentNode.submit();">Logout</a>
                        </form>
                    </div>
                </div>
            {% else %}
                <div class="navbar-end">
                    <div class="navbar-item">
                        <div class="buttons">
                            <a class="button is-primary has-text-weight-bold" href="{% url 'signupview' %}">Sign up</a>
                            <a class="button" href="{% url 'loginview' %}">Login</a>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    </nav>
    {% block content %}{% endblock content %}

    <script>
        document.addEventListener('DOMContentLoaded', () => {
            // responsive navbar
            const hamburger = document.querySelector(".navbar-burger")
            const menuList = document.querySelectorAll(".navbar-menu")

            hamburger.addEventListener('click', () => {
                hamburger.classList.toggle("is-active")
                menuList.forEach(i => {
                    i.classList.toggle("is-active");
                });
            });

            // inject bulma classes in auto generated django forms
            const labels = document.querySelectorAll("form label")
            const inputs = document.querySelectorAll("form input")

            labels.forEach(i => {
                i.classList.add("label")
            })

            inputs.forEach(i => {
                if(i.getAttribute("type") === "checkbox")
                {
                    i.classList.add("checkbox")
                }
                else
                {
                    i.classList.add("input")
                }
            })
        });

    </script>
</body>

</html>