{% extends "mainapp/base.html" %}

{% block content %}
<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column is-6 is-offset-3">
                <div class="box has-shadow">
                    <div class="field">
                        <form action="" method="POST">
                            {% csrf_token %}
                            {{ form }}

                            <div class="field mt-4">
                                <div class="control">
                                    <button class="button is-primary" type="submit" value="Save">create</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}