{% extends "mainapp/base.html" %}

{% block content %}
<div class="section">
    <div class="container">
        <div class="columns is-multiline is-centered">
            <div class="column is-5">
                <div class="card">
                    <div class="card-content">
                        <table class="table">
                            <tbody>
                                <tr>
                                    <td>
                                        <b>Title</b>
                                    </td>
                                    <td>
                                        {{ object.title }}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <b> Description </b>
                                    </td>
                                    <td>
                                        {{ object.description }}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <b> Created </b>
                                    </td>
                                    <td>
                                        {{ object.created }}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <b> Done </b>
                                    </td>
                                    <td>
                                        {{ object.done }}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="card-footer">
                        <div class="buttons">
                            <form action="" method="POST">
                                {% csrf_token %}
                                <div class="card-footer-item">
                                    <button class="button is-primary has-text-weight-bold" type="submit" name="button_update">Update</button>
                                </div>
                            </form>
                            <form action="" method="POST">
                                {% csrf_token %}
                                <div class="card-footer-item">
                                    <button class="button is-danger" type="submit" name="button_delete">Delete</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}