{% extends "mainapp/base.html" %}

{% block content %}
<section class="hero is-primary is-medium">
    <div class="hero-body has-text-centered">
        <div class="container">
            <h3 class="title is-2"> Some inspirational quote about how awesome todo lists are ... </h3>
            <h3 c4ass="title is-5"> Todo lists will totally change your life! </h3>
        </div>
    </div>
</section>
{% endblock content %}