{% extends "mainapp/base.html" %}

{% block content %}
<section class="section">
    <div class="container">
        <div class="columns is-multiline">

            {% for object in object_list %}
            <div class="column is-4 is-narrow">
                <div class="card">
                    <header class="card-header">
                        <div class="card-header-title level">
                            <div class="level-left">
                                <div class="level-item">
                                    {{ object.title }}
                                </div>
                            </div>

                            {% if object.done %}
                            <div class="level-right">
                                <div class="level-item">
                                    <span class="tag is-success is-pulled-right">
                                        done
                                    </span>
                                </div>
                            </div>
                            {% endif %}
                        </div>
                    </header>
                    <div class="card-content">
                        <div class="card-content">
                            {{ object.description|truncatewords:20 }}
                        </div>
                    </div>
                    <footer class="card-footer">
                        <a class="card-footer-item" href="{% url 'detailview' object.id %}">view</a>
                    </footer>
                </div>
            </div>
            {% empty %}
            <div class="hero-body has-text-centered">
                <div class="container">
                    <h3 class="title is-2">Nothing to do ...</h3>
                </div>
            </div>
            {% endfor %}

        </div>
    </div>
</section>

{% endblock content %}