{% extends "mainapp/base.html" %}

{% block content %}
{% if message %}
    <h2>{{ message }}</h2>
{% endif %}
<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column is-6 is-offset-3">
                <div class="box has-shadow">
                    <form action="" method="POST">
                        {% csrf_token %}
                        {{ form }}

                        <div class="field mt-4">
                            <div class="control">
                                <button class="button is-primary" type="submit" value="Sign up">Sign up</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}