$primary: #457b9d;

@charset "utf-8";
@import "../../../../node_modules/bulma/bulma.sass";

// remove link hover color from logo
nav.navbar div.navbar-brand > a:first-child {
    outline: none;
    color: $primary;
    text-decoration: none;
}

.card-header-title{
    background-color: lighten($primary, 35%);
}
